<div class="container" id="cocktails">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <% if params[:q] && !params[:q].blank? %>
      <h1>Nos <%= params[:q] %></h1>
    <% else %>
      <h1>Nos Cocktails</h1>
    <% end %>

    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), <% if cocktail.photo? %>
              url(<%= cl_image_path cocktail.photo.path, width: 360, height: 175, crop: :fill %> <% end %>) ;">
          <div class="card-category">TOP 10</div>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <p>
            <% cocktail.ingredients.each do |ingredient| %>
              <span><%= ingredient.name %></span>
            <% end %>
            </p>
          </div>
          <%= link_to '', cocktail, :class => "card-link"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>

