<div class="container">
  <div class="row">
     <p id="notice text"><%= notice %></p>
  <hr>

  <div class="col-xs-12 col-md-5">
      <% if @cocktail.photo? %>
        <p><%= cl_image_tag @cocktail.photo.path, width: 500, height: 300, crop: :fill %> </p>
      <% end %>
      <p>
  </div>
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <h1><%= @cocktail.name %></h1>
      <p>
        <strong>Ingredients:</strong>
        <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> <%= dose.ingredient.name %>
          <%= link_to edit_cocktail_dose_path(@cocktail.id,dose.id) do%>
            <span class="glyphicon glyphicon-pencil"></span>

      <% end %>
        <% end %>

        </ul>
      </p>
      <p id="clickme">Add a dose</p>
      <%= render '/doses/form', dose: @dose %>
    </div>



    <%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
    <%= link_to 'Back', cocktails_path %> |
    <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
    <%= link_to 'Destroy', @cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>

